<h1>Register User</h1>
<form (submit) = "insert(ID,username,password,role)">
  <div>
    <label>ID</label>
    <input type="text" id="ID" name="ID"  [(ngModel)]="ID"/>
 </div>
    <div>
        <label>Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" />
      </div>
      <div>
          <label>Password</label>
          <input type="passsword" id="password" name="password" [(ngModel)]="password" />
        </div>
        <div>
            <label>Role</label>
            <input type="text" id="role" name="role" [(ngModel)]="role" />
          </div>
          <button type="submit">Save</button>
</form>